<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azvk.nationalhockeyteams">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".NHTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/MyMaterialThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|adjustUnspecified" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:label="@string/registration_activity_title"
            android:parentActivityName=".activities.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.TeamInfoActivity"
            android:label="@string/title_activity_team_info"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/MyMaterialThemeNoActionBar">
        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>